.App {
  text-align: center;
}
.Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div{
  margin: 0px;
  padding: 0px;
}
.Square{
  background: #fff;
  border: 2px solid #3a3939;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.Row:after {
  clear: both;
  content: '';
  display: table;
}
*{
  box-sizing: border-box;
}
.status{
  font-size: 120%;
  color: #0099ad;
  font-family: 'Times New Roman', Times, serif;
  width: 99vw;
  background-color: #282c34;
}
.Restart{
  height: 2vw;
  width: 7vw;
  background-color: rgba(255, 2555, 255, 0.4);
  border: 2px solid #3a3939;
  box-shadow: 3px 3px 3px 0px #ebebeb5b;
}


