/*General classes*/
*{
  box-sizing: border-box;
}

body{
  min-width: 100%;
  height: 98vh;
  background-image: linear-gradient(to bottom right, #212d47,#262d3d , #1c2331);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100% 100%;
}
.Container {
  width:99vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/*Playing field*/

div{
  margin: 0px;
  padding: 0px;
}
.Square{
  background: #e0e0e0;
  box-shadow: 0px 0px 8px 0px  #eeeeee5b;
  border: 2px solid #3a3939;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
}
.Row:after {
  clear: both;
  content: '';
  display: table;
}
/*Buttons*/
.status{
  font-weight: 600;
  position: absolute;
  font-size: 120%;
  color: #0099ad;
  font-family: 'Times New Roman', Times, serif;
  background-color: #282c3400;
  top: 13vw;
}
.WinText{
  font-size: 120%;
  font-family: 'Times New Roman', Times, serif;
  color: #0099ad;
  top: 17vw;
  position: absolute;
  margin-bottom: 2vw;
}
.restart{
  font-weight: 800;
  font-family: 'Roboto Mono', monospace;
  margin-top: 0.1vw;
  height: 2vw;
  width: 7vw;
  background-color: rgba(255, 2555, 255, 0.4);
  border: 1px solid rgba(255, 2555, 255, 0.1);
  box-shadow: 2px 2px 2px 0px #ebebeb5b;
}
.restart:active{
  box-shadow: 0px 0px 0px 0px #ebebeb5b;
}
h3{
  font-weight: 700;
  font-size: 120%;
  font-family: 'Times New Roman', Times, serif;
  color: #0099ad;
}